{% extends 'EventBundle::layout.html.twig' %}
{% block body -%}
    <div class="row"><h2>Edit {{ entity.name }}</h2>

        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('event') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>

{% endblock %}
