{% extends 'UserBundle::layout.html.twig' %}
{% block body %}
    <section class="events">
        {% for user in users %}
            {{ user.username }}
        {% endfor %}
    </section>
{% endblock %}