{% extends 'UserBundle::layout.html.twig' %}
{% block body %}
    <section class="events">
        <h1>Currently Registered Users:</h1>
        {% for user in users %}
            {{ user.username }}<br/>
        {% endfor %}
        <h1>Currently Active Events</h1>
        {% for event in events %}
            {{ event.name }}<br/>
        {% endfor %}
    </section>
{% endblock %}